<div class="body">
    <div class="main">
        <h1> My hobby #1 </h1>
        <img src="../../../assets/images/reading.jpg"> 
        
        <h2>{{myHobby1.title}}</h2>
        <p> {{myHobby1.discription}}</p>
        <h3> Famous people, who love to read books as much as I do.</h3>
        <div>
            <div class="card">
                    <p>Bill Gates</p>
                    <img class="famousPeople" src="../../../assets/images/bill.jpg">
            </div> 
            <div class="card">
                    <p>Ilon Mask</p>
                    <img class="famousPeople" src="../../../assets/images/mask.jpg">   
            </div>
        </div>
        <div>
            <div class="card">  
                    <p>Opra Uinfri</p>
                    <img class="famousPeople" src="../../../assets/images/opra.jpg">
            </div>
            <div class="card">  
                    <p>Sarah Jessica Parker</p>
                    <img class="famousPeople" src="../../../assets/images/sara.jpg">
             </div>
        </div>
    </div>    
    <div class="main">
        <h1> My hobby #2 </h1>
        <img src="../../../assets/images/tundra.jpg"> 
        
        <h2>{{myHobby2.title}}</h2>
        <p> {{myHobby2.discription}}</p>
        <h3> Famous people, who love to drive as much as I do.</h3>
        <div>
            <div class="card">
                    <p>Tras Topolja</p>
                    <img class="famousPeople" src="../../../assets/images/topoliaAuto.jpg">
            </div> 
            <div class="card">
                    <p>Maroon 5</p>
                    <img class="famousPeople" src="../../../assets/images/maroo5Auto.jpg">   
            </div>
        </div>
        <div>
            <div class="card">  
                    <p>Ilon Mask</p>
                    <img class="famousPeople" src="../../../assets/images/maskAuto.jpg">
            </div>
            <div class="card">  
                    <p>Angelina Joli</p>
                    <img class="famousPeople" src="../../../assets/images/angAuto.jpg">
             </div>
        </div>
    </div>    
</div>
