<div>
    <img src="../../../assets/images/reading.jpg"> 
    
    <h1>{{myHobby.title}}</h1>
    <p> {{myHobby.discription}}</p>
    <h3> Famous people, who love to read books as much as I do.</h3>
    <div>
        <img class="famousPeople" src="../../../assets/images/bill.jpg">
        <img class="famousPeople" src="../../../assets/images/mask.jpg">
    </div>
    <div>
        <img class="famousPeople" src="../../../assets/images/opra.jpg">
        <img class="famousPeople" src="../../../assets/images/sara.jpg">
    </div>
</div>
